<div class="container">
    <div class="row"> 
        <center>
        <!-- <h3><a href="registration" target="_blank"> Registration for the BioC2022 conference is now open! </a></h3> -->
        <h4> The BioC2026 conference will take place in Seattle, WA, Fred Hutchinson Cancer Center </h4>
        <div style="margin-bottom: 20px;">
            <!-- <a href="https://ti.to/nf-projects/bioc2026" class="btn btn-template-main" style="margin: 5px;">Register for Conference</a> -->
            <!-- <a href="https://ti.to/nf-projects/bioc2026" class="btn btn-template-main" style="margin: 5px;">Register for virtual attendance</a> -->
            <!-- <a href="https://openreview.net/group?id=bioconductor.org/BioC/2026/Conference" class="btn btn-template-main" style="margin: 5px;">Submit an Abstract</a> -->
        </div>
        <!-- <h4>
            Late Breaking Posters <a href="https://openreview.net/group?id=bioconductor.org/BioC/2026/Conference" target="_blank" rel="noopener noreferrer">
                                    submission
                                </a> is open! Early <a href="https://ti.to/nf-projects/bioc2026" target="_blank" rel="noopener noreferrer">Registration</a> is open!</h4> -->
        <!-- <h4>In-person registration is closed. Virtual registration remains open until August 12.</h4> -->
        <p class="text-primary text-large mb-small text-left">
            
            </b>.
        </p>
        </center>
    </div>
    <div class="row">
        <table style="width:100%">
            <tr>
                <th><h4>Mark your calendar</h4></th>
                <th>Bioconductor Mastodon feed</th>
                <!-- <th>Tweets by <a href="https://twitter.com/Bioconductor" target="blank">@Bioconductor</a></th> -->
            </tr>
            <tr>
                <td>
                    <ul>
                        <li><b>November, 2025</b>: Watch for BioC2026 sticker contest details.</li>
                        <li>
                            <b>January, 2026</b>: Sticker Contest Launch
                            <div class="details">
                                Unleash your creativity! Submit a design for the official conference sticker.<br>
                                Prize: Free conference registration + eternal bragging rights.
                            </div>
                        </li>
                        <!-- <li>
                            <b>February 1, 2026</b>: Early <a href="https://ti.to/nf-projects/bioc2026">Registration</a> is Open
                        </li> -->
                        <li>
                            <b>February 20, 2026</b>: Sticker Contest Closes
                            <div class="details">
                                Final designs due.<br>
                                Winner announced: February 27.
                            </div>
                        </li>
                        <li>
                            <b>March 20, 2026</b>: Abstract Deadline
                            <div class="details">
                                Last call for your brilliant research!
                            </div>
                        </li>
                        <li>
                            <b>April 10, 2026</b>: Abstract Decisions Sent
                            <div class="details">
                                Check your inbox!
                            </div>
                        </li>
                        <!-- <li>
                            <b>June 15, 2026</b>: Early Registration Ends
                            <div class="details">
                                Lock in the best rate.
                            </div>
                        </li> -->
                        <li>
                            <b>June 30, 2026</b>: Late Breaking Posters <a href="https://docs.google.com/forms/d/1r1a80EJHHX4y8Vl_Ra2iXMfuRsgzFYP4aPaSFUK2V30/edit" target="_blank" rel="noopener noreferrer">
                                    Submission
                                </a>
                                Deadline.
                        </li>
                        <!-- <li>
                            <b>July 27, 2026</b>: Registration Closes
                            <div class="details">
                                Secure your spot before it's too late.
                            </div>
                        </li> -->
                        <li>
                            <b>August 10–12 (Monday-Wednesday), 2026</b>: BioC2026
                            <div class="details">
                                The BioC2026 Conference.<br>
                                Three days of learning, collaboration, and community—see you there!
                            </div>
                        </li>
                        <li>
                            <b>August 13–14, 2026</b>: The Carpentries workshop, "Orchestrating Large-Scale Single-Cell Analysis with Bioconductor".
                                <a href="https://docs.google.com/forms/d/e/1FAIpQLSesyVJDPFVYC0XFcEamo868NKYhdZ17oz8Hys1WTRFZIWSxxA/viewform" target="_blank" rel="noopener noreferrer">
                                    Registration.
                                </a>
                        </li>
                        <li>
                            <b>August 13–14, 2026</b>: Bioconductor North America 2026 Hackathon.         
                                <a href="https://github.com/BiocCodingCollaborations/BiocNA2026_Hackathon" target="_blank" rel="noopener noreferrer">
                                    GitHub.
                                </a>
                                <a href="https://forms.gle/7jsVrEnhp74dBrXMA" target="_blank" rel="noopener noreferrer">
                                    Registration.
                                </a>
                        </li>                         <br>
                    </ul>
                </td>
                <td>
                    <iframe allowfullscreen sandbox="allow-top-navigation allow-scripts allow-popups allow-popups-to-escape-sandbox" width="400" height="400" src="https://www.mastofeed.com/apiv2/feed?userurl=https%3A%2F%2Fgenomic.social%2Fusers%2Fbioconductor&theme=dark&size=100&header=false&replies=false&boosts=true"></iframe>
                </td>
                <!-- <td>
                    <a class="twitter-timeline" data-height="200" href="https://twitter.com/Bioconductor?ref_src=twsrc%5Etfw">Tweets by Bioconductor</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </td> -->
            </tr>
        </table>
        </p>
</div>
</div>