{{ if isset .Site.Params "scholarship" }}
{{ if .Site.Params.scholarship.enable }}
<section class="bar background-white no-mb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h2>{{ .Site.Params.scholarship.title }}</h2>
                </div>
                <p class="lead text-center">
                  {{ .Site.Params.scholarship.text | markdownify }}
                </p>
                <p class="text-center">
                    {{ with .Site.Params.scholarship.link_url }}
                    <a href="{{ . }}" class="btn btn-template-main btn-lg" target="_blank" rel="noopener">
                    {{ end }}
                        {{ with .Site.Params.scholarship.link_text }}
                        {{ . }}
                        {{ end }}
                    {{ with .Site.Params.scholarship.link_url }}
                    </a>
                    {{ end }}
                </p>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
